@page "/complete"
@using BlazorMusicStore.Data
@inject AppState AppState

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @AppState.OrderNumber</p>

<p>
    How about shopping for some more music in our
    <a href="\">store</a>
</p>

@code {

}
