<nav class="navbar navbar-expand fixed-top">
    <div class="container">
        <a class="navbar-brand" id="brand" href="/">Blazor Music Store</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/store">Store</a>
           <CartComponent></CartComponent>
</div>
    </div>
</nav>

 